<!-- Start Footer -->
<footer class="section-padding bg-dark-blue footer" style="padding-bottom: 40px;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-4">
                <div class="ft-logo mb-lg-80 mx-auto" style="width: 280px;">
                    <img src="assets/images/CPSB-NCF-Logo-white.png" class="image-fit" alt="">
                </div>
                    
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="footer-widgets mb-sm-80">
                    <h5 class="text-custom-white fw-600">About Us<span class="text-orange">.</span></h5>
                    <ul class="custom">
                        <li>
                            <a href="#">Careers</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Insights</a>
                        </li>
                        <li>
                            <a href="#">Press/News</a>
                        </li>
                        <li>
                            <a href="#">Careers/Team</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="footer-widgets mb-sm-80">
                    <h5 class="text-custom-white fw-600">For Developers<span class="text-orange">.</span></h5>
                    <ul class="custom">
                        <li>
                            <a href="#">Annual Consultative Forum Event</a>
                        </li>
                        <li>
                            <a href="#">Past Events</a>
                        </li>
                        <li>
                            <a href="#">System status</a>
                        </li>
                        <li>
                            <a href="#">Security</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="footer-widgets mb-xs-80">
                    <h5 class="text-custom-white fw-600">Resources<span class="text-orange">.</span></h5>
                    <ul class="custom">
                        <li>
                            <a href="#">PDF Docs</a>
                        </li>
                        <li>
                            <a href="#">Leadership</a>
                        </li>
                        <li>
                            <a href="#">Press/News</a>
                        </li>
                        <li>
                            <a href="#">Careers/Team</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="col-xl-3 col-md-3 col-sm-6">
                <div class="footer-widgets mb-xs-80">
                    <h5 class="text-custom-white fw-600">Contact Us<span class="text-orange">.</span></h5>
                    <ul class="custom">
                        <li style="color: #8b9fae;">
                            The United Kenya Club Apartments, Unit No. 10, State House Road, Opposite UON St. Paul’s University Chapel <br> Nairobi, Kenya 
                        </li>
                        <li style="color: #8b9fae;">
                            P.O Box 88-00202
                        </li>
                        <li>
                            <a href="#">+254 712 345 678</a>
                        </li>
                        <li class="social-links">
                            <ul class="custom-flex ft-social">
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-custom-white">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="footer-widgets newsletter">
                    <h5 class="text-custom-white fw-600">Subscribe Now<span class="text-orange">.</span></h5>
                    <div class="input-group mb-xl-20">
                        <input type="email" name="#" class="form-control form-control-custom" placeholder="Email address">
                        <div class="input-group-append">
                            <button>
                                <i class="fal fa-envelope"></i>
                            </button>
                        </div>
                    </div>
                    <img src="assets/images/iso.png" class="img-fluid" alt="">
                </div>
            </div> -->
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <ul class="custom-flex ft-menu">
                    <li>
                        <a href="#" class="text-custom-white">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#" class="text-custom-white">Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <p class="text-custom-white fw-500">Copyright By <a href="https://peru-designs.com/" class="text-custom-white">Peru-Designs</a></p>
            </div>
            <!-- <div class="col-lg-4">
                <ul class="custom-flex ft-social">
                    <li>
                        <a href="#" class="text-custom-white">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-custom-white">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-custom-white">
                            <i class="fab fa-behance"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-custom-white">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-custom-white">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<div id="back-top" class="back-top">
    <a href="#top"><i class="fal fa-long-arrow-up"></i></a>
</div>
<!-- End Footer -->