.event-info {
    background: #ff4815;
    color: white;
    padding: 3em 2em;
}
.event-info *{
    color: inherit;
}
.event-icon {
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: white;
    color: #ff4815 !important;
}

ul li:before {
    content: '';
}

table td {
    text-align: left;
}

table {
    background-color: #14212b;
    color: white;
}
table h5, table p {
    color: white;
}